table {
  border: 1px dashed black;
}

td {
  border: 1px dashed rgb(227, 227, 227);
  height: auto;
  padding: 8px;
}
.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}
.form-control {
  width: 200px;
}
